*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #FFFFFF;
  height: 100%;
  margin: 0;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.none{
  display: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.header{
  min-height: 1110px;
  background-color: #1e1e1e;
  padding-top: 30px;
}

.header-top{
  height: 100px;
}

.header-content{
  max-width: 1200px;
  margin: 0 auto;
}

.header-content-block{
    display: flex;
}

.header-content-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-content-title{
    font-family: Chakra Petch;
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: -0.005em;
    text-align: left;
}

.header-content-paragraph{
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #D1D1D1;
    margin-top: 12px;
    margin-bottom: 32px;
}

.header-content-btn{
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    padding: 18px 38px;
    font-family: Chakra Petch;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: center;
}

.header-content-btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(255, 255, 255, 0.3);
    transition: opacity .3s;
}

.header-content-title{
    width: 80%;
}

.header-content-paragraph{
    width: 65%;
}

.header-content-user{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 40px;
}

.header-content-video{
    position: relative;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.user-img{
    margin-right: 18px;
}

.user-img img{
    /* border: 0.79px solid #18181B; */
    /* border-radius: 50%; */
    margin-left: -15px;
}

.count-users{
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-right: 75px;
}

.count-users span{
    font-weight: 300;
}

/* Nav */

.nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
  column-gap: 240px;
}

.nav-list{
  display: flex;
  column-gap: 64px;
  list-style: none;
}

.nav-list a{
  font-family: Chakra Petch;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-list a:hover{
  font-weight: 500;
}


.nav-btn {
  font-family: Chakra Petch;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  height: 52px;
  width: 126px;
  padding: 12px 24px;
  border: 1px solid transparent;
  background: transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  border-image-slice: 1;
}

.nav-btn:hover{
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}

.VR-capabilities{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background: #252532;
  height: 357px;
  padding: 20px 64px;
}

.item:nth-child(even){
  margin-left: 50px;
  margin-right: 50px;
}

.capability-img{
  margin-bottom: 42px;
  object-fit: contain;
}

.capability-title{
  margin-bottom: 12px;
}

.capability-title{
font-family: Chakra Petch;
font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: left;
}

.capability-description{
  font-family: Chakra Petch;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #B0B0B2;
}

.about_us {
  max-width: 1238px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.images {
  position: relative;
}

.image1 {
  width: 517.98px;
  height: 622px;
}

.image2 {
  position: absolute;
  top: 520px;
  left: 312.06px;
  width: 196px;
  height: 127.94px;
  z-index: 3;
}

.image3 {
  position: absolute;
  top:auto;
  left:0;
  width: 364.62px;
  height: 608.06px;
  z-index: 2;
}

.image4 {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 365px;
  height: 496.53px;
  z-index: -1;
}

.content_about_us {
  min-width: 398px;
  max-width: 562px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.content_about_us button {
  width: 168px;
  height: 60px;
  font-family: Chakra Petch;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}
.custom_list {
  list-style-type: none;
}
.content_about_us li {
  width: 185px;
  height: 28px;
  font-family: Chakra Petch;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;

}

.content_about_us p {
  width: 528px;
  height: 112px;
  font-family: Chakra Petch;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #D1D1D1;
}

.content_about_us h2 {
  width: 562px;
  height: 174px;
  font-family: Chakra Petch;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #FFFFFF;
}

.content_about_us span {
  width: 93px;
  height: 21px;
  font-family: Chakra Petch;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  letter-spacing: 0.14em;
  text-align: left;
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  background-clip: text;
  color: transparent;
}